<!DOCTYPE html>
<html>
<head>
<title>Stealth Watermark</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/static/bg_full.png");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

</style>
</head>
<body class = "bgimg-1">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="{{url_for('home_page')}}" class="w3-bar-item w3-button w3-wide">Stealth Watermark</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="{{url_for('home_page')}}" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
      <a href="{{url_for('add_page')}}" class="w3-bar-item w3-button"><i class="fa fa-image"></i> Add</a>
      <a href="{{url_for('check_page')}}" class="w3-bar-item w3-button"><i class="fa fa-check-square-o"></i> Check</a>
      <a href="{{url_for('howtouse_page')}}" class="w3-bar-item w3-button" onclick="showSpinner()"><i class="fa fa-book"></i> How to use</a>
      <a href="{{url_for('logout')}}" class="w3-bar-item w3-button"><i class="fa fa-chevron-right"></i> Logout</a>
      <span class="w3-bar-item w3-button">Hi, {{name}}</span>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="{{url_for('home_page')}}" onclick="w3_close()" class="w3-bar-item w3-button"> Home</a>
  <a href="{{url_for('add_page')}}" onclick="w3_close()" class="w3-bar-item w3-button"> Add Watermark</a>
  <a href="{{url_for('check_page')}}" onclick="w3_close()" class="w3-bar-item w3-button">Check Watermark</a>
  <a href="{{url_for('howtouse_page')}}" onclick="w3_close()" class="w3-bar-item w3-button"> How to use</a>
  <a href="{{url_for('login')}}" onclick="w3_close()" class="w3-bar-item w3-button"> Login</a>
  <span class="w3-bar-item w3-button">Hi, {{name}}</span>
</nav>

<!-- Header with full-height image -->
<header class="w3-display-container" id="home">
  <div class="w3-text-black" style="padding:48px">
    <span class="w3-jumbo w3-hide-small w3-hide-medium">Result images</span>
    <span style="font-size:30px"class="w3-hide-large w3-hide-small ">Result images</span>
    <span style="font-size:26px"class="w3-hide-large w3-hide-medium ">Result images</span>
    <br>{% if message_warning2 %}
        <span style="font-size:20px"class="w3-hide-medium w3-hide-small w3-text-red">{{message_warning2}}</span>
        <span style="font-size:18px"class="w3-hide-large w3-hide-small w3-text-red">{{message_warning2}}</span>
        <span style="font-size:16px"class="w3-hide-large w3-hide-medium w3-text-red">{{message_warning2}}</span>
    {% endif %}
    <br>{% if message_warning %}
          <span style="font-size:20px"class="w3-hide-medium w3-hide-small w3-text-red">{{message_warning}}</span>
          <span style="font-size:18px"class="w3-hide-large w3-hide-small w3-text-red">{{message_warning}}</span>
          <span style="font-size:16px"class="w3-hide-large w3-hide-medium w3-text-red">{{message_warning}}</span>
      {% endif %}
    <div style="
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: center;
            width: 100%;
        ">
        {%for i in range(0, len_image)%}
        <div style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 3px;
          ">
          <img src="{{ url_for('uploaded_file', filename=img_watermark_list[i]) }}" alt="image" width="auto" height="320">
          <span style="font-size:27px"class="w3-hide-medium w3-hide-small">{{result_image_list2[i]}}</span>
          <span style="font-size:24px"class="w3-hide-large w3-hide-small">{{result_image_list2[i]}}</span>
          <span style="font-size:13px"class="w3-hide-large w3-hide-medium ">{{result_image_list2[i]}}</span>
        </div>
        {%endfor%}
    </div>
    <div class="button-container">
      <a href="{{ url_for('uploaded_file', filename=file_load) }}" download>
        <span class="w3-button w3-blue w3-padding-large w3-large w3-opacity w3-hover-opacity-off">Download Image</span>
      </a>
    </div>

  </div> 
</header>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>
